body{
	color: #fb5;
	background-color: #334;
}
a:link{
	color: #445;
	background-color: #eb6;
}
a:visted{
	color: #345;
	background-color: #eb6;
}
a:hover{
	color: #667;
	background-color: #fb5;
}
a:active{
	color: #778;
	background-color: #ec8;
}
header{
	color: #ec8;
	background-color: #334;
	border-color: #667;
}
header nav{
	color: #445;
	background-color: #789;
	border-color: #667;
}
article{
	color: #223;
	background-color: #edc;
	border-color: #667;
}
header nav ul{
	border-color: #99a;
}
header nav a.here:link,
header nav a.here:visted,
header nav a.here:hover,
header nav a.here:active{
	color: #eef;
	background-color: #779;
	border-color: #99a;
}
article img{
	border-color: #ba9;
	outline-color: #dcb;
}
#imagegallery a{
	background-color: transparent;
}
th{
	color: #edc;
	background-color: #445;
}

tr td{
	color: #223;
	background-color: #eb6;
}

tr.odd td{
	color: #223;
	background-color: #ec8;
}
tr.hightlight{
	color: #223;
	background-color: #cba;
}